# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @aidan-kwon @kjhman21 @blukat29 @kjeom

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/api/           @kjeom @jimni1222 @henry-will @nohkwak
/blockchain/    @blukat29 @kjeom @ian0371 @yoomee1313
/build/	        @blukat29 @hyunsooda @2dvorak
/client/        @kjeom @jimni1222 @henry-will @nohkwak
/cmd/           @kjeom @aidan-kwon @kjhman21 @ian0371
/consensus/     @aidan-kwon @kjhman21 @jiseongnoh @mckim19
/console/       @kjeom @jimni1222 @henry-will @nohkwak
/contracts/     @blukat29 @hyunsooda @2dvorak @ian0371
/crypto/        @blukat29 @jiseongnoh @mckim19
/datasync/      @ethan-kr @jeongkyun-oh
/db_migration/  @ethan-kr @jeongkyun-oh
/event/	        @kjeom @JayChoi1736
/governance/    @blukat29 @aidan-kwon @kjhman21 @ian0371
/networks/      @kjeom @JayChoi1736 @yoomee1313
/node/	        @blukat29 @hyunsooda @2dvorak
/reward/        @blukat29 @ian0371
/rlp/	        @kjeom @JayChoi1736
/snapshot/      @ethan-kr @jeongkyun-oh
/storage/       @ethan-kr @jeongkyun-oh
/work/	        @blukat29 @aidan-kwon @kjhman21 @yoomee1313
