version: 2.1

aliases:
  - &filter-only-version-tag
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
    branches:
      ignore: /.*/
  - &filter-version-not-release
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+.*/
    branches:
      ignore:
        - /release\/.*/
        - master

orbs:
  codecov: codecov/codecov@1.0.5
  docker: circleci/docker@2.1.1

executors:
  test-executor:
    working_directory: /go/src/github.com/klaytn/klaytn
    docker:
      - image: klaytn/build_base:1.2-go.1.18-solc0.8.13
  test-others-executor:
    working_directory: /go/src/github.com/klaytn/klaytn
    docker:
      - image: klaytn/build_base:1.2-go.1.18-solc0.8.13
      - image: localstack/localstack:0.11.5
      - image: circleci/redis:6.0.8-alpine
      - name: zookeeper
        image: wurstmeister/zookeeper
      - name: kafka
        image: wurstmeister/kafka
        environment:
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_ADVERTISED_LISTENERS: INSIDE://:9092,OUTSIDE://kafka:9094
          KAFKA_LISTENERS: INSIDE://:9092,OUTSIDE://kafka:9094
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
          KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
  rpm-executor:
    working_directory: /go/src/github.com/klaytn/klaytn
    docker:
      - image: klaytn/circleci-rpmbuild:1.18
  default:
    working_directory: ~/go/src/github.com/klaytn/klaytn
    docker:
      - image: cimg/go:1.18

commands:
  install-netcat:
    steps:
      - run:
          name: "Install netcat"
          command: |
            apt install -y netcat
  install-golang:
    steps:
      - run:
          name: "Install golang on machine"
          command: |
            curl -O https://dl.google.com/go/go1.18.linux-amd64.tar.gz
            mkdir $HOME/go1.18
            tar -C $HOME/go1.18 -xzf go1.18.linux-amd64.tar.gz
  install-golangci-lint:
    steps:
      - run:
          name: "Install golangci-lint"
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.45.2
  pre-build:
    description: "before build, set version"
    steps:
      - run:
          name: "set variables"
          command: |
            export GOPATH=~/go
            export PATH=$HOME/go1.18/go/bin:$PATH
            pat="^v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+.*"

            if [[ $CIRCLE_TAG =~ $pat ]]; then
              echo "this is rc version $CIRCLE_TAG"
              rc_num=$(echo $CIRCLE_TAG | cut -d '-' -f 2)
              sed -i 's/%d.%d.%d/%d.%d.%d~'$rc_num'/' params/version.go
              sed -n '/%d.%d.%d/p' params/version.go
            else
              echo "this is not RC version"
            fi
            echo "export KLAYTN_VERSION=$(go run build/rpm/main.go version)" >> $BASH_ENV
  build-packaging:
    description: "Build for each OS/Network"
    parameters:
      os-network:
        type: string
        default: "tar-linux-amd64-all"
    steps:
      - run:
          name: "build new(Cross compile)"
          command: |
            export GOPATH=~/go
            export PATH=$HOME/go1.18/go/bin:$PATH
            make << parameters.os-network >>
  upload-repo:
    description: "upload packaging tar.gz"
    parameters:
      item:
        type: string
        default: "kcn kpn ken kgen kscn kbn kspn ksen homi"
    steps:
      - run:
          name: "upload S3 repo"
          command: |
            export GOPATH=~/go
            export PATH=$HOME/go1.18/go/bin:$PATH
            KLAYTN_VERSION=$(go run build/rpm/main.go version)
            for item in << parameters.item >>; do aws s3 cp packages/${item}-*.tar.gz s3://$FRONTEND_BUCKET/packages/klaytn/$KLAYTN_VERSION/; done
  rpm-tagging:
    description: "rpm tagging for cypress"
    steps:
      - run:
          name: "rpm tagging"
          command: make rpm-all
      - run:
          name: "upload S3 repo"
          command: |
            PLATFORM_SUFFIX=$(uname -s | tr '[:upper:]' '[:lower:]')-$(uname -m)
            KLAYTN_VERSION=$(go run build/rpm/main.go version)

            for item in kcn kpn ken kscn kspn ksen kbn kgen homi;
            do
              TARGET_RPM=$(find $item-linux-x86_64/rpmbuild/RPMS/x86_64/ | awk -v pat="$item(d)?-v" '$0~pat')
              aws s3 cp $TARGET_RPM s3://$FRONTEND_BUCKET/packages/rhel/7/prod/
              aws s3 cp $TARGET_RPM s3://$FRONTEND_BUCKET/packages/klaytn/$KLAYTN_VERSION/
            done
  rpm-tagging-baobab:
    description: "rpm tagging for baobab"
    steps:
      - run:
          name: "rpm tagging baobab"
          command: |
              make rpm-baobab-kcn
              make rpm-baobab-kpn
              make rpm-baobab-ken
      - run:
          name: "upload S3 repo"
          command: |
            for item in kcn kpn ken;
            do
              PLATFORM_SUFFIX=$(uname -s | tr '[:upper:]' '[:lower:]')-$(uname -m)
              TARGET_RPM=$(find $item-linux-x86_64/rpmbuild/RPMS/x86_64/ | awk -v pat="$item(d)?-baobab-v" '$0~pat')
              aws s3 cp $TARGET_RPM s3://$FRONTEND_BUCKET/packages/rhel/7/prod/
              aws s3 cp $TARGET_RPM s3://$FRONTEND_BUCKET/packages/klaytn/$KLAYTN_VERSION/
            done
  createrepo-update:
    steps:
      - run:
          name: "createrepo update"
          command: |
            aws s3 sync s3://$FRONTEND_BUCKET/packages/rhel/7/prod/ rhel/7/prod/
            createrepo --update rhel/7/prod
            aws s3 sync --delete rhel/7/prod/repodata/ s3://$FRONTEND_BUCKET/packages/rhel/7/prod/repodata/
  tag-verify:
    steps:
      - run:
          name: "Verify tag and file version match"
          command: |
            echo "tag version is " $CIRCLE_TAG
            KLAYTN_VERSION=$(go run build/rpm/main.go version)
            echo "version on version.go" $KLAYTN_VERSION
            if [ $KLAYTN_VERSION == ${CIRCLE_TAG%-*} ]; then
              echo "verification pass"
            else
              echo "It's not same version."
              exit 1
            fi
  tagger-verify:
    steps:
      - run:
          name: "Verify tag and file version match"
          command: |
              TAGGER=$(git for-each-ref --format='%(tagger)' refs/tags/$CIRCLE_TAG | sed 's/ .*//')
              if [ $TAGGER == 'circleci-klaytn' ]; then
                echo "Pass! Tagger is circleci-klaytn"
              else
                echo "only circleci-klaytn can tagging major version"
                exit 1
              fi
  make-pr:
    steps:
      - run:
          name: "Push to release branch"
          command: |
              echo "push to release branch: /release/${CIRCLE_TAG%-*}"
              git checkout -b release/${CIRCLE_TAG%-*}
              git push origin release/${CIRCLE_TAG%-*}
      - run:
          name: "Install hub"
          command: |
              curl -sSLf https://github.com/github/hub/releases/download/v2.12.3/hub-linux-amd64-2.12.3.tgz | \
                tar zxf - --strip-components=1 -C /tmp && \
                sudo mv /tmp/bin/hub /usr/local/bin/hub
              type hub
      - run:
          name: "Create pull request"
          command: |
              version=$(hub pr list -s open -L 10 -f "%H%n")
              echo $version
              if [[ $version == *"release/${CIRCLE_TAG%-*}"* ]]; then
                echo "PR already exist"
              else
                echo "hub pull-request -m "[Master] release/$CIRCLE_TAG QA Signoff" -b $CIRCLE_PROJECT_USERNAME:master -h $CIRCLE_PROJECT_USERNAME:${CIRCLE_TAG%-*}"
                echo -e "[Master] release/${CIRCLE_TAG%-*} QA Sign-off\n\nThis PR is automatically created by CI to release a new official version of $CIRCLE_PROJECT_REPONAME.\n\nWhen this PR is approved by QA team, a new version will be released." | hub pull-request -b $CIRCLE_PROJECT_USERNAME:master -h $CIRCLE_PROJECT_USERNAME:release/${CIRCLE_TAG%-*} -r $GITHUB_reviewer -l circleci -F-
              fi
      - run:
          name: "build announce"
          command: .circleci/scripts/build_announce.sh
  tagging-delete-branch:
    steps:
      - run:
          name: "Generate tag"
          command: |
              export version=$(go run build/rpm/main.go version) >> $BASH_ENV
              echo "git tag $version"
              git config --global user.email "team.devops@groundx.xyz"
              git config --global user.name "circleci-klaytn"
              git tag -a $version -m "$CIRCLE_STAGE"
              git push origin $version
      - run:
          name: "Delete release branch"
          command: |
              export version=$(go run build/rpm/main.go version) >> $BASH_ENV
              #delete release branch. it trigger by merge title
              if [[ "release/v" = $(git log --oneline -1 | grep -o "release/v") ]]; then
                echo "Delete branch release/$version"
                git push origin --delete release/$version
              else
                echo "Need to delete branch manually"
              fi
  wait-other-containers-ready:
    steps:
      - run:
          name: "Waiting for Redis to be ready"
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 6379 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for Redis && exit 1
      - run:
          name: "Waiting for zookeeper to be ready"
          command: |
            for i in `seq 1 10`;
            do
              nc -z zookeeper 2181 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for zookeeper && exit 1
      - run:
          name: "Waiting for Kafka to be ready"
          command: |
            for i in `seq 1 10`;
            do
              nc -z kafka 9092 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for Kafka && exit 1
      - run:
          name: "Wait until localstack container running"
          command: |
            timeout 60 sh -c \
            'until nc -z localhost 4566; do
              echo "Waiting for Localstack ..."
              sleep 1
            done'
  notify-success:
    steps:
      - run:
          name: "notify slack when job success"
          command : |
            curl --data '{"text": "✅ Job *'$CIRCLE_JOB'* succeeded on *'$CIRCLE_BRANCH''$CIRCLE_TAG'*. Please see '$CIRCLE_BUILD_URL' for details."}' "$SLACK_WEBHOOK_URL"
          when: on_success
  notify-failure:
    steps:
      - run:
          name: "notify slack when job fail"
          command : |
            curl --data '{"text": "❌ Job *'$CIRCLE_JOB'* failed on *'$CIRCLE_BRANCH'*. Please see '$CIRCLE_BUILD_URL' for details."}' "$SLACK_WEBHOOK_URL"
          when: on_fail

jobs:
  build:
    machine:
      image: ubuntu-2004:202201-02
    working_directory: ~/go/src/github.com/klaytn/klaytn
    steps:
      - checkout
      - install-golang
      - pre-build
      - run:
          name: "Build"
          command: |
            export PATH=$HOME/go1.18/go/bin:$PATH
            make fmt
            make all

  test-linter:
    executor: test-executor
    steps:
      - install-golangci-lint
      - checkout
      - run:
          name: "Run golangci-lint"
          no_output_timeout: 30m
          command: golangci-lint run --new-from-rev=dev --presets format,performance -v --timeout 10m

  test-datasync:
    executor: test-others-executor
    steps:
      - install-netcat
      - checkout
      - wait-other-containers-ready
      - run:
          name: "Run test datasync"
          no_output_timeout: 30m
          command: make test-datasync

  test-networks:
    executor: test-executor
    steps:
      - checkout
      - run:
          name: "Run test networks"
          no_output_timeout: 30m
          command: make test-networks

  test-tests:
    executor: test-executor
    steps:
      - checkout
      - run:
          name: "Run test tests"
          no_output_timeout: 30m
          command: |
            git clone --depth 1 https://$TEST_TOKEN@github.com/klaytn/klaytn-tests.git tests/testdata
            make test-tests

  test-others:
    executor: test-others-executor
    steps:
      - install-netcat
      - checkout
      - wait-other-containers-ready
      - run:
          name: "Run test others"
          no_output_timeout: 30m
          command: |
            make test-others

  pass-tests:
    executor: default
    steps:
      - run:
          name: "tests pass!"
          command: echo "tests pass!"

  tagger-verify:
    executor: default
    steps:
      - checkout
      - tagger-verify

  coverage:
    executor: test-others-executor
    resource_class: xlarge
    steps:
      - install-netcat
      - checkout
      - wait-other-containers-ready
      - run:
          shell: /bin/bash
          name: "Run coverage tests"
          command: |
            set -e
            export GOPATH=/go
            git clone --depth 1 https://$TEST_TOKEN@github.com/klaytn/klaytn-tests.git tests/testdata
            make cover
            mkdir -p /tmp/coverage_reports
            cp coverage_report.txt /tmp/coverage_reports/
            cp coverage_report.html /tmp/coverage_reports/
      - notify-failure
      - notify-success
      - store_artifacts:
          path: /tmp/coverage_reports
      - codecov/upload:
          file: /tmp/coverage_reports/coverage_*

  linters:
    executor: test-executor
    steps:
      - checkout
      - run:
          name: "Run linters"
          command: |
            make lint-try
            mkdir -p /tmp/linter_reports
            cp linter_report.txt /tmp/linter_reports/
      - notify-failure
      - notify-success
      - store_artifacts:
          path: /tmp/linter_reports

  packaging-linux:
    machine: 
      image: ubuntu-2004:202201-02
    resource_class: large
    working_directory: ~/go/src/github.com/klaytn/klaytn
    steps:
      - checkout
      - install-golang
      - pre-build
      - build-packaging
      - upload-repo

  packaging-linux-baobab:
    machine: 
      image: ubuntu-2004:202201-02
    resource_class: large
    working_directory: ~/go/src/github.com/klaytn/klaytn
    steps:
      - checkout
      - install-golang
      - pre-build
      - build-packaging:
          os-network: "tar-baobab-linux-amd64-all"
      - upload-repo:
          item: "kcn kpn ken"

  packaging-darwin:
    machine: 
      image: ubuntu-2004:202201-02
    resource_class: large
    working_directory: ~/go/src/github.com/klaytn/klaytn
    steps:
      - checkout
      - install-golang
      - pre-build
      - build-packaging:
          os-network: "tar-darwin-amd64-all"
      - upload-repo

  packaging-darwin-baobab:
    machine: 
      image: ubuntu-2004:202201-02
    resource_class: large
    working_directory: ~/go/src/github.com/klaytn/klaytn
    steps:
      - checkout
      - install-golang
      - pre-build
      - build-packaging:
          os-network: "tar-baobab-darwin-amd64-all"
      - upload-repo:
          item: "kcn kpn ken"

  rpm-tagged:
    executor: rpm-executor
    steps:
      - checkout
      - pre-build
      - rpm-tagging

  rpm-tagged-baobab:
    executor: rpm-executor
    steps:
      - checkout
      - pre-build
      - rpm-tagging-baobab

  deploy-rpm-public:
    executor: rpm-executor
    steps:
      - add_ssh_keys
      - createrepo-update
      - notify-failure
      - notify-success

  tag-verify:
    executor: test-executor
    steps:
      - checkout
      - tag-verify

  release-PR:
    executor: default
    steps:
      - add_ssh_keys
      - checkout
      - make-pr
      - notify-failure
      - notify-success

  major-tagging:
    executor: default
    steps:
      - add_ssh_keys
      - checkout
      - tagging-delete-branch

workflows:
  version: 2
  build_n_packaging:
    jobs:
      - build:
          filters: *filter-version-not-release
      - test-datasync:
          filters: *filter-version-not-release
      - test-networks:
          filters: *filter-version-not-release
      - test-tests:
          filters: *filter-version-not-release
      - test-others:
         filters: *filter-version-not-release
      - test-linter:
          filters: *filter-version-not-release
      - tagger-verify:
         filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+/
            branches:
              ignore: /.*/

      - pass-tests:
          requires:
            - build
            - test-datasync
            - test-networks
            - test-tests
            - test-others
            - tag-verify
            - tagger-verify
          filters: *filter-version-not-release

      - docker/publish:
          filters:
            branches:
              only: dev
          requires:
            - pass-tests
          extra_build_args: '--platform=linux/amd64'
          image: klaytn/klaytn
          tag: dev
          executor: docker/docker
          use-remote-docker: true
          remote-docker-version: 20.10.14

      - tag-verify:
          filters: *filter-only-version-tag

      - deploy-rpm-public:
          requires:
            - rpm-tagged
            - rpm-tagged-baobab
            - packaging-linux
            - packaging-linux-baobab
            - packaging-darwin
            - packaging-darwin-baobab
          filters: *filter-only-version-tag

      - release-PR:
          requires:
            - rpm-tagged
            - rpm-tagged-baobab
            - packaging-linux
            - packaging-linux-baobab
            - packaging-darwin
            - packaging-darwin-baobab
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]+.*/
            branches:
              ignore: /.*/

      - rpm-tagged:
          filters: *filter-only-version-tag
          requires:
            - pass-tests
      - rpm-tagged-baobab:
          filters: *filter-only-version-tag
          requires:
            - pass-tests
      - packaging-linux:
          filters: *filter-only-version-tag
          requires:
            - pass-tests
      - packaging-linux-baobab:
          filters: *filter-only-version-tag
          requires:
            - pass-tests
      - packaging-darwin:
          filters: *filter-only-version-tag
          requires:
            - pass-tests
      - packaging-darwin-baobab:
          filters: *filter-only-version-tag
          requires:
            - pass-tests

      - docker/publish:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
          requires:
            - pass-tests
          extra_build_args: '--platform=linux/amd64'
          image: klaytn/klaytn
          tag: latest,$CIRCLE_TAG
          executor: docker/docker
          use-remote-docker: true
          remote-docker-version: 20.10.14

      - major-tagging:
          filters:
            branches:
              only: master

  nightly-coverage:
    triggers:
      - schedule:
          cron: "0 18 * * *"
          filters:
            branches:
              only: dev
    jobs:
      - coverage

  nightly-linters:
    triggers:
      - schedule:
          cron: "0 19 * * *"
          filters:
            branches:
              only: dev
    jobs:
      - linters

